/* შექმენი 10 ცალი p თეგი,ყველას თეგს უნდა ქონდეს ერთნაირეი ფერი პირველ 5-ს უნდა ქონდეს ლურჯი უკანა ფერი ხოლო მეორე 5-ს უნდ ქონდეს წითელი უკანა ფერი(გამოიყენეთ კლასები) */
   .white {
    color: white; /* ყველა ტექსტი თეთრია */
  }
  .blue {
    background: blue; /* ლურჯი ფონით */
  }
  .red {
    background: red; /* წითელი ფონით */
  }



