/* კომენტარებით ახსენით რა არის pseudo selectors მოიყვანეთ თითო მაგალითი დღეს ნასწავლ pseudo selector-ებზე */
/*
Pseudo-selectors (ფსევდო სელექტორები) გამოიყენება ელემენტის
განსაკუთრებული მდგომარეობის შესაცვლელად, HTML-ის შეცვლის გარეშე.
*/

/* :link - გამოიყენება იმ ბმულზე (link), რომელიც ჯერ არ არის ნანახი. */
a:link {
    color: blue;
}

/* :hover - მოქმედებს, როდესაც მაუსის კურსორი ელემენტზე გადადის. */
a:hover {
    color: red;
}

/* :active - მოქმედებს იმ მომენტში, როდესაც მომხმარებელი ბმულს აჭერს. */
a:active {
    color: green;
}